.cell, .header {
    margin: 0px;
    border: 2px solid;
    border-color: #eeeeee #999999 #999999 #eeeeee;
    background-color: #cccccc;
    padding: 0px;
    vertical-align: middle;
    text-align: center;
}

.cell {
    box-sizing: border-box;
    width: 24px;
    max-width: 24px;
    min-width: 24px;
    height: 24px;
    min-height: 24px;
    max-height: 24px;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    cursor: pointer;
}

.uncovered, .exploted, .wrong-flagged {
    background-color: #bbbbbb;
    border-width: 1px;
    border-color: #999999;
    padding: 1px;
    cursor: default;
}

.board {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px;
    background-color: #666666;
    color: #000000;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
}

.counter {
    margin: 10px;
    border: 1px inset #eeeeee;
    padding-right: 3px;
    width: 2em;
    background-color: #000000;
    color: #ff6666;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    text-align: right;
}

.restarter {
    width: 42px;
    height: 24px;
    margin: 2px;
    border: 3px groove #eeeeee;
    padding: 6px;
    vertical-align: middle;
    cursor: pointer;
    display: inline-table;
}

.level-selector {
    margin: 0.2em;
    cursor: pointer;
}

.invisible {
    visibility: hidden !important;
}

.dimension {
    width: 4em;
    height: 2em;
    border: 1px solid #b9b9b9;
    border-radius: 0.2em;
    margin: 0.5em;
}

.cell-1 {
    color: #112f7b;
}
.cell-2 {
    color: #3b7c15;
}
.cell-3 {
    color: #f24423;
}
.cell-4 {
    color: #112f7b;
}
.cell-5 {
    color: #7b1e0c;
}
.cell-6 {
    color: #2b7b7b;
}
.cell-7 {
    color: #000000;
}
.cell-8 {
    color: #7b7b7b;
}
